data/datasets
extraction/models_lpf
extraction/output/*
plotting/resnet50
plotting/alexnet
plotting/vgg16
plotting/mobilev2
plotting/resnet18
plotting/resnet18-100/
shortout/data
shortout/chkpt
shortout/log
__pycache__/
